# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node dependencies
node_modules/
dist
dist-ssr
*.local

# Node dependencies
node_modules/
yarn.lock

# Build outputs
build/
dist/
dist-ssr/
out/

# Temporary files
temp/
tmp/
*.tmp

# Environment variables
.env
.env.*
.secret

# OS-specific files
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.txt

# Local development
*.local